<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/intellij-projects/SeleniumAutomationFramework/src/test/java/com/zapskiller/automation/testcases/SampleTest.java">
    <classes><class name="com.zapskiller.automation.testcases.SampleTest">
            <methods><include name="sampleTest"/></methods>
         </class>
    </classes></test>
</suite>